  <!-- == START OF FEATURES 04 ==-->
  <div class="features features--04">
    <h2 class="cover__title cover__title--10"><span class="cover__title_text cover__title_text--10">
      Conquista e Atividades</span></h2>
    <div class="features__container--04">
      <div class="container">
        <div style="background-image: url(assets/img/bg/PMck.png)" class="features__box--04 features__box--image--04 features__box--image--left--04"></div>
        <div class="features__box--04 features__box--left-margin--04">
          <h3 class="features__item_title--04">Adoro Gamejams e hackthons</h3><span class="features__item_text features__item_text--04">
            Já perdi a conta a quantas fui em termos de gamejams/hackathons. <br>
            Na minha prescritiva  é uma forma saudável de aprender a trabalhar sobre pressão, a prototipar e conhecer pessoas.
          </span>
        </div>
      </div>
    </div>
    <div class="features__container--04">
      <div class="container">
        <div class="features__box--04">
          <h3 class="features__item_title--04">Top 10 no European Innovation Academy </h3><span class="features__item_text features__item_text--04">A nossa equipa chegou á apresentação final, o nosso projeto  foi o <a href="https://www.facebook.com/CopitoCup" target="_blank">Copito</a>, a equipa era
            multidisciplinar e de vários locais como Canadá e Taiwan. Aparecemos em vários jornais como: <a href="https://agriculturaemar.com/9-universidades-e-politecnicos-portugueses-nos-melhores-projectos-da-european-innovation-academy/" target="_blank" >agricultura e mar</a>, <a href="https://www.dinheirovivo.pt/campus-santander-universidades-2019/1362682/" target="_blank">Dinheiro vivo</a> , <a href="https://observador.pt/2018/08/06/eia-acabou-a-caca-aos-grandes-unicornios-do-estoril/" target="_blank">Observador</a> e outros</span>
        </div>
        <div style="background-image: url(assets/img/bg/bg--headphones-man.jpg)" class="features__box--04 features__box--image--04 features__box--image--right--04"></div>
      </div>
    </div>
  </div>
  <!-- == END OF FEATURES 04 ==-->
