      <!-- == START OF CONTENTS 04 ==-->
      <div class="contents contents--04">
        <span class="cover__title_text cover__title_text--10">
          Educação e divulgação</span>
        <div class="container-fluid">
          <div class="contents__box--04">
            <div class="contents__item--04">
              <h3 class="contents__item_title--04"></h3><span class="contents__item_text contents__item_text--04"></span>
            </div>
            <div class="contents__item--04">
              <h3 class="contents__item_title--04">Explicador c, c# e web</h3><span class="contents__item_text contents__item_text--04">Ajudei alguns alunos a fazer projetos finais e preparem-se para apresentações.</span>
            </div>
            <div class="contents__item--04">
              <h3 class="contents__item_title--04">Formador IEFP</h3><span class="contents__item_text contents__item_text--04">Ajudei naqueles cursos para licenciados e mestres que desejam obter alguns conhecimentos na área da programação.</span>
            </div>

          </div>
          <div class="contents__img_box--04"><img src="assets/img/versaofinal.svg" class="contents__img--04 "></div>
          <div class="contents__box--04">
            <div class="contents__item--04">
              <h3 class="contents__item_title--04"></h3><span class="contents__item_text contents__item_text--04"></span>
            </div>
            <div class="contents__item--04">
              <h3 class="contents__item_title--04">Professor</h3><span class="contents__item_text contents__item_text--04">Dei aulas no ensino superior desde cursos técnicos até licenciatura em WEB, Projeto e programação 3D.</span>
            </div>
            <div class="contents__item--04">
              <h3 class="contents__item_title--04">Palestras em escolas</h3><span class="contents__item_text contents__item_text--04">Dei algumas palestras para incentivar jovens a serem mais criativos e usarem mais programação.</span>
            </div>
          </div>
        </div>
      </div>
      <!-- == END OF CONTENTS 04 ==-->
