      <!-- == START OF COVER 10 ==-->
      <div class="cover cover--10">
        <div class="container">
          <div class="cover__content_box">
            <h2 class="cover__title cover__title--10"><span class="cover__title_text cover__title_text--10">
        Aula para ensino de OOP num ambiente de single page application</span></h2>
            <div class="cover__image_box--10">
              <div class="cover__button_box--10">
                <button data-popup-target="video" type="button" class="cover__button--10 button button--blue button--blue-shadow button--round button--play-icon js-open-popup"></button>
              </div><img src="assets/img/pictures/pic--keyboard-image.png" class="cover__image">
            </div>
          </div>
          <div class="cover__features_box">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-3 cover__features__item--10">
                <h3 class="cover__feature_title">Porquê</h3><span class="cover__feature_text">Quando dei aulas dentro da framework decidi gravar tutorial para ajudar os alunos. as estratégias são um pouco "ingénuas" porque era mais importante eles ganharem estratégia e resolver problemas do que dominar Angular em si.</span>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3 cover__features__item--10">
                <h3 class="cover__feature_title">Barreira</h3><span class="cover__feature_text">Estes alunos estavam a aprender web básica (HTML,CSS) em simultâneo e tinham aprendido OOP nas semanas anteriores.</span>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3 cover__features__item--10">
                <h3 class="cover__feature_title">O que faria diferente</h3><span class="cover__feature_text">Olhando agora devia ter usado mais do potencial da framework como "Two-way binding" desde inicio.</span>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-3 cover__features__item--10">
                <h3 class="cover__feature_title">Paixão e Futuro</h3><span class="cover__feature_text">Se tiver tempo voltarei a fazer os tutorial mas desta vez seguindo os padrões mais usados, focar nas vantagens do Angular, criar diretivas, etc.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-popup-name="video" class="popup popup--video js-popup" >
        <button title="close" class="popup__close_btn js-close-all-popups" (click)="stopVideo($event.path[2])"></button>
        <iframe id ="MainFrameID" src="https://www.youtube-nocookie.com/embed/iWMmqdUnKM0" frameborder="0" allowfullscreen class="popup__video_frame"></iframe>
      </div>
