<div class="contents contents--01" id="work">
  <h2 class="features__title--05">Alguns Trabalhos</h2>
  <div class="container contents__container--01">
    <div class="contents__image_box--01"><img src="assets/img/pictures/Animated_Mockup_1200_grande.gif" class="contents__image--01"></div>
    <div class="contents__content_box--01">
      <h3 class="contents__title--01">IPCA GAMEJAM</h3>
       <span class="contents__text--01">Colaborei em vários <b>sites</b>.<br>
        <br> <br><a href="http://web.ipca.pt/gamejam/2017/" target="_blank" >2017</a> tratei da <b>base de dados</b> para registo, conceção e implementação. Criei as Queries em <b>SQL</b> e todo o backend em <b>PHP</b>. Auxiliei no Front-End.
        <br> <br><a href="http://web.ipca.pt/gamejam/2018/" target="_blank">2018</a> deram-me um design e conceito e coloquei em prática.
        <br>  <br><a href="http://web.ipca.pt/gamejam/2019/"  target="_blank">2019</a>  fiz o site completo, mas por so ter uns dias usei um template/programa para auxiliar e com <b>css</b> e <b>js</b> corrigi para ficar mais apelativo.
      </span>
    </div>
  </div>
</div>

<div class="envolve">
    <!-- == START OF ABOUT 02 ==-->
    <div style="background-image: url(assets/img/bg/bg--WinterAi.png)" class="about about--02">
      <div class="container about_content_box--02">
        <h2 class="about__title">
          AI4G
        </h2><span class="about__text about__text--02">Em 2017 fiz este site, os logos e cores foram escolhas de uma designer a composição, UX e programação foi minha uma cópia pode ser vista <a href="http://ai4g.ipca.pt/2017/" target="_blank">aqui</a> embora sem algumas funções</span>
      </div>
    </div>
    <!-- == END OF ABOUT 02 ==-->
    </div>
