   <!-- == START OF FEATURES 02 ==-->
   <div class="features features--02">
    <div class="container">
      <div class="features__title_box features__title_box--02">
        <h2 class="features__title--02">Redes Sociais e onde me encontrar</h2>
      </div>
    </div>
    <div class="container">
      <div class="row features__row">
        <div class="col-xs-12 col-md-6 col-lg-3 features__item features__item--02">
          <a href="https://www.facebook.com/MoisesDeveloper/" target="_blank">
          <div class="features__item_icon_circle features__item_icon_circle--02 features__item_icon_circle--play-icon--blue"></div>
          <h3 class="features__item_title">Facebook</h3>
        </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 features__item features__item--02">
          <a href="https://www.linkedin.com/in/moisés-moreira-342952b6" target="_blank">
          <div class="features__item_icon_circle features__item_icon_circle--02 features__item_icon_circle--trophy-icon--blue"></div>
          <h3 class="features__item_title">Linkedin</h3>
        </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 features__item features__item--02">
          <a href="https://play.google.com/store/apps/details?id=com.AliceLands.LunarTheather&hl=en" target="_blank">
          <div class="features__item_icon_circle features__item_icon_circle--02 features__item_icon_circle--code-icon--blue"></div>
          <h3 class="features__item_title">Google play</h3>
        </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 features__item features__item--02">
          <a href="https://github.com/Zeszito" target="_blank">
          <div class="features__item_icon_circle features__item_icon_circle--02 features__item_icon_circle--star-icon--blue"></div>
          <h3 class="features__item_title">github</h3>
        </a>
        </div>
      </div>
    </div>
  </div>
  <!-- == END OF FEATURES 02 ==-->
