
  <!-- == START OF contacts 02 ==-->
  <div class="contacts contacts--02" id="contact">
    <div class="container contacts__container--02">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h2 class="contacts__title contacts__title--02" *ngIf="emailState == 0">Entra em contacto</h2>
          <h2 class="contacts__title contacts__title--02" *ngIf="emailState == 1">A Enviar...</h2>
          <h2 class="contacts__title contacts__title--02" *ngIf="emailState == 2">Erro, visto que isto é só front-end, talvez seja o server do serviço. Tente mais tarde.</h2>
          <h2 class="contacts__title contacts__title--02 text-focus-in" *ngIf="emailState == 3">Enviado, respondo mal veja o email! Obrigado!</h2>

          <form (submit)="sendEmail($event)"  *ngIf="emailState != 2 && emailState != 3"
          [ngClass]="emailState == 1 ? 'slide-out-right' : '' ">
            <div class="contacts__form__inputs_box--02">
              <input type="text" placeholder="nome" value="" name="from_name" class="contacts__form__input--02 input input--cloud-border input--white">
              <input type="email" required placeholder="email" value="" name="from_email" class="contacts__form__input--02 input input--cloud-border input--white">
            </div>
            <textarea required placeholder="mensagem" value="" name="message_html" class="contacts__form_textarea--02 input input--cloud-border input--white"></textarea>
            <button type="submit" class="contacts__form_button--02 button button--blue button--small-radius">Enviar</button>
          </form>



        </div>
        <div class="col-lg-3 col-md-5 col-md-offset-1 col-lg-offset-2 col-xs-12">
          <div class="contacts__info--02">
            <h2 class="contacts__title contacts__title--02"></h2>
            <div class="contacts__content--02">
              <div class="contacts__item">
                <h3 class="contacts__item_title">Cidade</h3><span class="contacts__item_text">Barcelos</span>
              </div>
              <div class="contacts__item">
                <h3 class="contacts__item_title">Morada</h3><span class="contacts__item_text">VilaWork, R. da Quinta, 4750-787 Outiz</span>
              </div>
              <div class="contacts__item">
                <h3 class="contacts__item_title">Enviar</h3><a href="mailto:hello@ui-market.com" target="_blank" class="contacts__item_text">geral@moisesmoreira.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- == END OF contacts 02 ==-->
  <hr>

  <div class="container" >
    <a target="_blank" href="https://icons8.com/icons/set/unity">Unity</a>, <a target="_blank" href="https://icons8.com/icons/set/angularjs">AngularJS</a> and other icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    <br>Desenhos e vectores por <a target="_blank" href="https://www.instagram.com/monicavdesign/">Mónica Vieira</a>
    <br>Visitas a este site: <b>{{visitas}}</b>
  </div>
