.row{
  -webkit-animation: action3 2s infinite  alternate;
animation: action3 2s infinite  alternate;
}


@-webkit-keyframes action3 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes action3 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


