    <!-- == START OF CONTENTS 05 ==-->
    <div style="background-image: url(assets/img/bg/bg--black-bg-man.jpg)" class="contents contents--05">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <h2 class="contents__title--05">Aprovado no teste de competências em HTML do Linkedin</h2><span class="contents__text--05">O exame feito com sucesso. Se quiseres ver estas e outras skills talvez adicionar-me <a href="https://www.linkedin.com/in/mois%C3%A9s-moreira-342952b6/" >passa por lá, clica aqui</a></span>
          </div>
        </div>
      </div>
    </div>
    <!-- == END OF CONTENTS 05 ==-->
