.contents__img--04{
  -webkit-animation: action4 1s infinite  alternate;
  animation: action4 1s infinite  alternate;
}

@-webkit-keyframes action4 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}
@keyframes action4 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-30px); }
}


