      <!-- == START OF COVER 01 ==-->
      <div class="cover cover--01 js-cover">

        <div class="cover__content_box--01">
          <div class="container">
            <h2 class="cover__title--01"><span class="cover__title_text--01">Moisés M.</span></h2>
            <div class="cover__description_box--01"><span class="cover__description_text--01"> Programo e com isso:<br>
              <i>resolvo problemas</i>, <i>faço jogos</i>, <i>android apps</i> e <i>sites</i>.<br>
              ...Há, também gosto de ensinar e dar explicações.
            </span></div>
          </div>
          <div class="cover__pic_box--01"><img src="assets/img/comando_animated.svg" class="cover__pic--01"></div>
        </div>
      </div>
      <!-- == END OF COVER 01 ==-->
