  <!-- == START OF FEATURES 05 ==-->
  <div class="features features--05">
    <div class="container">
      <div class="features__title_box features__title_box--05">
        <h2 class="features__title--05">Algumas Linguagens e Frameworks</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4 features__item features__item--05">
          <div class="features__item_icon_circle features__item_icon_circle--05 features__item_icon_circle--trophy-icon--blue"></div>
          <h3 class="features__item_title">UNITY / C#</h3><span class="features__item_text">Desde da licenciatura, passando por todos os jogos que fiz em gamejams, escola ou projectos foi a minha base para aprender OOP.</span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 features__item features__item--05">
          <div class="features__item_icon_circle features__item_icon_circle--05 features__item_icon_circle--magnifier-icon--blue"></div>
          <h3 class="features__item_title">Android / Java</h3><span class="features__item_text">Trabalhei numa aplicação Android durante quase 3 anos, part-time, foi um projecto que comecei no segundo ano da licenciatura e actualmente é usado por centenas de pessoas.</span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 features__item features__item--05">
          <div class="features__item_icon_circle features__item_icon_circle--05 features__item_icon_circle--zip-icon--blue"></div>
          <h3 class="features__item_title">JS CSS HTML</h3><span class="features__item_text">Antes da licenciatura tirei um pequeno curso profissional de programador e no estágio contactei com web desde então já dei aulas nessa área.</span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 features__item features__item--05">
          <div class="features__item_icon_circle features__item_icon_circle--05 features__item_icon_circle--stack-icon--blue"></div>
          <h3 class="features__item_title">Angular / TS</h3><span class="features__item_text">Esta passagem para "SPAs" era invevitável, sinto que ainda tenho caminho a precorrer mas é o meu interesse actual.</span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 features__item features__item--05">
          <div class="features__item_icon_circle features__item_icon_circle--05 features__item_icon_circle--star-icon--blue"></div>
          <h3 class="features__item_title">Bootsrap</h3><span class="features__item_text">Coloquei porque é um favorito, um clássico junto com <b>Jquery</b> é o começo de muitos web developers eu icluido, mas já usei <b>Bulma</b> entre outros.</span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 features__item features__item--05">
          <div class="features__item_icon_circle features__item_icon_circle--05 features__item_icon_circle--speedometer-icon--blue"></div>
          <h3 class="features__item_title">Etc, etc, etc...</h3><span class="features__item_text">Existe muitas outras linguagens e frameworks com que trabalhei <b>Json</b>, <b>SQL</b>, <b>PHP</b> mas na minha opinião são o básico para qualquer programador.</span>
        </div>
      </div>
    </div>
  </div>
  <!-- == END OF FEATURES 05 ==-->
