nav{
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  border: 2px solid black;
  left: auto;
  margin-top: calc(100vh - 50px);
}

@media (max-width: 768px) {
  .cover__content_box--01{
    margin-top: 25px;
}

nav{

  border: 0px solid black;
  margin-top: calc(100vh - 40px);
}

}
